name: Lint

on:
  push:

jobs:
  lint:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v6
      
      - name: Install dependencies
        run: npm ci
      
      - name: Run markdownlint
        run: npm run lint
